snippet #{
#{'${VISUAL}${1}'}
endsnippet

snippet chead
/*------------------------------------------------
* ${1}
------------------------------------------------*/
endsnippet

snippet media
@media #{\$${1}} {
	${2}
}
endsnippet

snippet base64
url(data:image/svg+xml;base64,$1);
endsnippet

# Shopify-specific

snippet asset
url('#{'{{ "${1}" | asset_url }}'}');
endsnippet

snippet setting
#{'{{ settings.${1} }}'}
endsnippet
